@{
    ViewBag.Title = "Home Page";
}

<div class="nn-block-margin-top30px">
    <div class="nn-cat-title">
        <p>
            <i class="glyphicon glyphicon-tag"></i>
            <h2>camera</h2>
        </p>
    </div>
    <div>
        <div class="col-md-3">
            <div class="nn-product-box">
                <a href="/Product/Detail/">
                    <img class="img-responsive" src="Content/img/products/1001.jpg" />
                </a>
                <div class="nn-product-box-descriptions">
                    <h3 class="nn-product-box-name">
                        <a href="http://newsmartwave.net/magento/legenda/index.php/fashion-jacket-386.html" title="Fashion Jacket">Fashion Jacket</a>
                    </h3>
                    <div class="nn-product-box-price ">
                        <span class="">$1000.0</span>
                    </div>
                    <div class="nn-product-box-actions">
                        <button type="button" class="btn btn-default blue">
                            <span>Add to Cart</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="nn-product-box">
                <a href="/Product/Detail/">
                    <img class="img-responsive" src="Content/img/products/1001.jpg" />
                </a>
                <div class="nn-product-box-descriptions">
                    <h3 class="nn-product-box-name">
                        <a href="http://newsmartwave.net/magento/legenda/index.php/fashion-jacket-386.html" title="Fashion Jacket">Fashion Jacket</a>
                    </h3>
                    <div class="nn-product-box-price ">
                        <span class="">$1000.0</span>
                    </div>
                    <div class="nn-product-box-actions">
                        <button type="button" class="btn btn-default blue">
                            <span>Add to Cart</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="nn-product-box">
                <a href="/Product/Detail/">
                    <img class="img-responsive" src="Content/img/products/1001.jpg" />
                </a>
                <div class="nn-product-box-descriptions">
                    <h3 class="nn-product-box-name">
                        <a href="http://newsmartwave.net/magento/legenda/index.php/fashion-jacket-386.html" title="Fashion Jacket">Fashion Jacket</a>
                    </h3>
                    <div class="nn-product-box-price ">
                        <span class="">$1000.0</span>
                    </div>
                    <div class="nn-product-box-actions">
                        <button type="button" class="btn btn-default blue">
                            <span>Add to Cart</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="nn-product-box">
                <a href="/Product/Detail/">
                    <img class="img-responsive" src="Content/img/products/1001.jpg" />
                </a>
                <div class="nn-product-box-descriptions">
                    <h3 class="nn-product-box-name">
                        <a href="http://newsmartwave.net/magento/legenda/index.php/fashion-jacket-386.html" title="Fashion Jacket">Fashion Jacket</a>
                    </h3>
                    <div class="nn-product-box-price ">
                        <span class="">$1000.0</span>
                    </div>
                    <div class="nn-product-box-actions">
                        <button type="button" class="btn btn-default blue">
                            <span>Add to Cart</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nn-block-margin-top30px">
    <div class="nn-cat-title">
        <p>
            <i class="glyphicon glyphicon-tag"></i>
            <h2>camera</h2>
        </p>
    </div>
    <div>
        <div class="col-md-3">
            <div class="nn-product-box">
                <a href="/Product/Detail/">
                    <img class="img-responsive" src="Content/img/products/1001.jpg" />
                </a>
                <div class="nn-product-box-descriptions">
                    <h3 class="nn-product-box-name">
                        <a href="http://newsmartwave.net/magento/legenda/index.php/fashion-jacket-386.html" title="Fashion Jacket">Fashion Jacket</a>
                    </h3>
                    <div class="nn-product-box-price ">
                        <span class="">$1000.0</span>
                    </div>
                    <div class="nn-product-box-actions">
                        <button type="button" class="btn btn-default blue">
                            <span>Add to Cart</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="nn-product-box">
                <a href="/Product/Detail/">
                    <img class="img-responsive" src="Content/img/products/1001.jpg" />
                </a>
                <div class="nn-product-box-descriptions">
                    <h3 class="nn-product-box-name">
                        <a href="http://newsmartwave.net/magento/legenda/index.php/fashion-jacket-386.html" title="Fashion Jacket">Fashion Jacket</a>
                    </h3>
                    <div class="nn-product-box-price ">
                        <span class="">$1000.0</span>
                    </div>
                    <div class="nn-product-box-actions">
                        <button type="button" class="btn btn-default blue">
                            <span>Add to Cart</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="nn-product-box">
                <a href="/Product/Detail/">
                    <img class="img-responsive" src="Content/img/products/1001.jpg" />
                </a>
                <div class="nn-product-box-descriptions">
                    <h3 class="nn-product-box-name">
                        <a href="http://newsmartwave.net/magento/legenda/index.php/fashion-jacket-386.html" title="Fashion Jacket">Fashion Jacket</a>
                    </h3>
                    <div class="nn-product-box-price ">
                        <span class="">$1000.0</span>
                    </div>
                    <div class="nn-product-box-actions">
                        <button type="button" class="btn btn-default blue">
                            <span>Add to Cart</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="nn-product-box">
                <a href="/Product/Detail/">
                    <img class="img-responsive" src="Content/img/products/1001.jpg" />
                </a>
                <div class="nn-product-box-descriptions">
                    <h3 class="nn-product-box-name">
                        <a href="http://newsmartwave.net/magento/legenda/index.php/fashion-jacket-386.html" title="Fashion Jacket">Fashion Jacket</a>
                    </h3>
                    <div class="nn-product-box-price ">
                        <span class="">$1000.0</span>
                    </div>
                    <div class="nn-product-box-actions">
                        <button type="button" class="btn btn-default blue">
                            <span>Add to Cart</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>